
/* Your CSS Code here. */
#btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#btn:hover {
    background-color: yellow;
    color: black;
    border-radius: 30px;
}